@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(174, 164, 164);
    transition: transform 0.3s ease-in;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    height: 100vh;
    width: 210px;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 26px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: rgb(184, 122, 203); */
    background-image: url(purple.jpg);
    width: 900vw;
    height: 47vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(202, 9, 128);  */
    height: 58vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
    /* width: 800px; */
}

.hello {
    font-size: 3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 2.2em;
}

.moreabout {
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;
}

.button {
    margin-top: 2.2em;
    font-size: 10px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 1.3em;
    margin: 3px 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}
.devPic img {
    /* height: 70vh; */
    padding-bottom: 10px;
}

.sidebargo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ham {
    margin-top: 10px;
    margin-left: 10px;
}

.cross {
    margin-left: 170px;
    margin-top: 10px;
}

/* Contact.html */

.contactform {
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 88px;
}

.contactform h1 {
    font-family: 'Source Serif Pro', serif;
    /* padding: 12px 0; */
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.contactform form {
    margin: 0 40px;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#nameHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.p2{
    font-weight: 600;
}
/* bolg.html */

h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}

.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.blogcontainer {
    margin: 88px;
}

p {
    font-family: 'Source Serif Pro', serif;
}

/* intro.html */
.intro {
    margin: 88px;
    padding-left: 150px;
}

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Serif Pro', serif;
    margin: 22px;
    padding-left: 20px;
}


.skillcontainer {
    padding: 12px;
    font-size: 15px;
}

.skillItem {
    display: flex;
    align-items: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
    margin: 6px;
}

.skills {
    width: 265px;
    height: 10px;
    font-size: x-small;
    text-align: right;
    background-color: red;
    border: 2px solid black;
}

.hundered {
    width: 265px;
    background-color: blueviolet;
}

.ninty {
    width: 220px;
    background-color: rgb(196, 79, 190);
}

.righty {
    width: 195px;
    background-color: rgb(0, 255, 174);
}

.senventy5 {
    width: 175;
    background-color: aqua;
}

.fifty {
    width: 125px;
    background-color: yellow;
}

.t5 {
    width: 75px;
    background-color: blue;
}

@media (max-width: 1420px) {

    /* *{
        background-color: rgb(230, 146, 146);
    } */
    .button {
        font-size: 6px;
    }

    .devPic {
        display: none;
    }

    .devinfo {
        font-size: 10px;
    }

    .intro,
    .blogcontainer,
    .contactform {
        margin: 50px 8px;
    }

    /* .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}

/* <!-- TODO Create a gallery for my projects --> */


.copyright {
    /* text-align: center;
    margin: auto;*/
    /* display: flex; */
    position: fixed;
    height: 84px;
    background-color: rgb(223, 218, 218);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: -15px 2px;

}

.media {
    margin: 10px;
    text-align: center;
}

.linkmedia {
    text-align: center;
    margin: -12px;
}


.fa {
    padding: 4px;
    font-size: 24px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin: 5px;
    height: 17px;
    line-height: 110px;

}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
    /* padding-left: 40px; */
    color: #3b5998;
    /* color: white; */
}

.fa-linkedin {
    /* padding-left: 20px;
    background: #007bb5; */
    color: #007bb6;
}

.fa-instagram {
    /* padding-left: 20px;
    background: #125688; */
    color: rgb(210, 64, 61);
}

.fa-github {
    /* padding-left: 20px;
    background: #cb2027; */
    color: #040204;
}